/*
----------------------------------------------------------------------------
Colors.
----------------------------------------------------------------------------
*/

/*
----------------------------------------------------------------------------
Brand.
----------------------------------------------------------------------------
*/
$color-brand: rebeccapurple !default;

/*
----------------------------------------------------------------------------
Accents.
----------------------------------------------------------------------------
*/
$app-red: #f44336 !default;
$app-green: #4caf50 !default;
$app-blue: #2196f3 !default;

/*
----------------------------------------------------------------------------
States.
----------------------------------------------------------------------------
*/
$color-success: $app-green !default;
$color-failure: $app-red !default;
$color-neutral: $app-blue !default;

/*
----------------------------------------------------------------------------
Neutral palette.
----------------------------------------------------------------------------
*/
$white: #fff !default;
$black: #111 !default;
